*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.hero {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1440px;
  background-color: #23424a;
}

.hero__text {
  width: 58%;
  padding: 8.47% 0 8.47% 8.47%;
  /* border: 10px solid yellow; */
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 3em;
  line-height: 1.167em;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3125em;
  line-height: 1.524em;
  color: rgba(255, 255, 255, 0.85);
  margin: 1rem 0 0 0;
}

a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3125em;
  line-height: 1.524em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #072a2d;
  background-color: #38cfd9;
  padding: 1rem 3rem;
  border-radius: 6.25rem;
  display: inline-block;
  margin: 4rem 0 0 0;
}

a:focus,
a:hover {
  opacity: 0.75;
}
